/* vars */
@import 'base/vars';

/* reset */
@import 'base/reset';

/* Blocks */
@import 'block/header';
@import 'block/client';
@import 'block/services';
@import 'block/footer.scss';

[class*="__container"] {
    max-width: $max_width;
    margin: 0 auto;
}

body {
    background-color: $background_color;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
}