/* Client */
.client {
    display: flex;
}

.client_row {
    position: relative;
    height: 227px;
    background-color: #fff;
    display: flex;
    align-items: center;
    top: calc((227px/2)*-1);
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
    border-radius: 2px;
    margin-left: calc( (100% - $max_width)/2);
    padding-right: 50%;
    overflow: hidden;
}

.clients {
    display: flex;
    column-gap: 66px;   
    padding: 0 166px 0 66px;
}